*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family:'Kumbh Sans', sans-serif; */
}
    

.navbar-nav{

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}
#navbar{
    
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.home_container{
    background-image: url(./Images/bck\ 4.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    /* display: flex; */
    height: 90vh;
    width: 100%;
    z-index: 1; 
    padding: 0;
}
.home_content{
    /* display: flex; */
    justify-content: center;
    background-color: transparent;
    align-items: center;
    padding-top:200px;
    padding-left: 300px;


}
.home_content h1{
    text-align: center;
    font-style: oblique;
    font-size: 3rem;
    background-color: pink;
    background-image: linear-gradient(to top, rgba(168, 18, 148, 0.911) 0%,rgb(235, 109, 92) 100%);
    background-size: 100%;
    -moz-background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.home_content p{
    margin-top: 1rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    color:rgb(200, 234, 240) ;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.flex-parent {
    display: flex;
    height: 40px;
  }

  .jc-center {
    justify-content: center; 
  }
  
  button.margin-right {
    margin-right: 20px;
    font-size: 1 rem;
   
  }
#btn{
    color: rgb(173, 198, 226);
    background-color: transparent;
    border-radius: 10px;
    border: whitesmoke solid 4px;
    width: 100px;
    box-sizing: content-box;

    
}
.container_overal{
    background-color: pink;
    background-image: linear-gradient(to top, rgba(233, 110, 28, 0.911) 0%,rgb(235, 109, 92) 100%);
    color: rgb(29, 2, 13);
    font-size: 20px;
}
.container_menu{
    display: block;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 50px ;
    padding-left: 600px;
    color: rgb(39, 1, 9);
    

}
.container-fluid-menu{
    /* background-color: rgb(177, 103, 98); */
    display: block;
    justify-items: center;
    align-items: center;
    position: relative;
    justify-content: space-between;

}
/* .row-1{
    padding:20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
} */

.container-fluid-Order{
    /* background-color: rgb(177, 103, 98); */
    color: rgb(18, 20, 22);
}
.order_content{
    color: rgb(4, 33, 51);
}
.container_order{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 0px;
    
}
.order_content{
    display: block;
    padding: 20px 20px 20px 600px ;
}
.form-order{
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.row{
    /* display: block;
    justify-items: center;
    align-items: center;
    position: relative;
    justify-content: space-between; */
}
.img{
    border-radius: 10px;
    position: relative;
    justify-content: space-between;

}
.table{
    /* background-color:rgb(177, 103, 98) ; */
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 30px 250px ; 
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 0.4rem;
    
    
}
.btn-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 20px 300px ;
    
}
.flavours{
    display: flex;
}
.pizzaNum{
    display: flex;
    justify-items: center;
    align-items: center;
    padding:80px 0px 50px 500px;
    /* display: none; */
    /* background-color: rgb(177, 103, 98); */
}
.cart{
    color: rgb(39, 44, 49);
    /* background-color:rgb(177, 103, 98) ; */
}
.delivery{
    display:block;
    padding-left: 50px ; 
    /* display: none; */
    /* background-color: rgb(177, 103, 98); */
}
.form-group{
    display: flex;
    padding: 30px 0 20px 200px;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(177, 103, 98); */
}
.main_content{
    display: flex;
    align-items: center;
    padding: 80px 30px 50px 700px ;
    justify-content: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;

}
.col-md-4{
    display: flex;
}
.contact-info{
    display: block;
    align-items: center; 
    padding: 10px 20px 30px 100px;
    justify-content: center;
    color: rgb(243, 82, 8);
    background-size: cover;
    background-color: rgb(2, 19, 19)
    
;
}
.contact-info h3{
align-items: center;
justify-content: center;
padding-left: 580px;

}


    